.thumbnail{
        position: relative;
}

.overlay{
        position: absolute;
        top: 0%;
        right: 0%;
        opacity: 0;
        height: 0;
}

.overlay-table{
        position: absolute;
        top : 10;
	right: 10%;
        opacity: 0;
        height: 0;
}

.opt:hover .overlay-table{
        opacity: 1;
        height: auto;
}

.thumbnail:hover .overlay{
        height: auto;
        opacity: 1;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  height: 100%;
  width : 100%
}
