{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
{% else %}
<body>
<div class=page>

    <div class="container">
		<div class="panel panel-default">
			<div class="panel-heading"><h3><b>&#9679; Quantumfruit's Community</b></h3></div>
			<div class="panel-body">
			
			Quantumfruit is a mostly francophone Counter-Strike community. We host several CS:GO servers since 2016. Currently we are running two Retakes Servers and one TeamSpeak that are host in germany.
			If you like our servers don't forget to join our Steam Group !
			
			<center>
			<br />
			<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Join the Group" data-original-title="Tooltip on bottom"><a href="http://steamcommunity.com/groups/quantumfruitcommunity"><img src="http://steamsignature.com/group/default/quantumfruitcommunity.png" alt=""/></a></button>
			</center>
			
			<br />
			<b><u>Info :</u></b><i> The staff's profiles on this page are uptaded every 30 min.</i>
			</div>
		</div>
		
		<div class="panel panel-danger">
			<div class="panel-heading">
			<h3 class="panel-title"><b>&#9679; Founders and Owners</b></h3>
			</div>
			<div class=row>
			<div class="panel-body">
			
				<div class="col-lg-6">
					<blockquote>
					<center>
					<a href="http://steamcommunity.com/id/zephylac/"><img src="http://steamsignature.com/profile/default/76561198109028354.png" alt=""/></a>
					<small>Zephylac | Co-Founder and Owner of <cite title="Source Title">Quantumfruit</cite></small>
					</center>
					</blockquote>
				</div>
				
				<div class="col-lg-6">
					<blockquote class="blockquote-reverse">
					<center>
					<a href="http://steamcommunity.com/id/SuperCactus_Qf/"><img src="http://steamsignature.com/profile/default/76561198085857173.png" alt=""/></a>
					<small>SuperCactus | Co-Founder and Owner of <cite title="Source Title">Quantumfruit</cite></small>
					</center>
					</blockquote>
				</div>
			</div>
			</div>
		</div>
		
		<div class="panel panel-primary">
			<div class="panel-heading">
			<h3 class="panel-title"><b>&#9679; Administrators</b></h3>
			</div>
			<div class=row>
			<div class="panel-body">
			
				<div class="col-lg-6">
					<blockquote>
					<center>
					<a href="http://steamcommunity.com/profiles/76561198354800995/"><img src="http://steamsignature.com/profile/default/76561198354800995.png" alt=""/></a>
					<small>Fearzing | Server Admin on <cite title="Source Title">Quantumfruit</cite></small>
					</center>
					</blockquote>
				</div>
				
				<div class="col-lg-6">
					<blockquote class="blockquote-reverse">
					<center>
					<a href="http://steamcommunity.com/id/doumantho/"><img src="http://steamsignature.com/profile/default/76561198086109567.png" alt=""/></a>
					<small>Doumantho | Server Admin on <cite title="Source Title">Quantumfruit</cite></small>
					</center>
					</blockquote>
				</div>
			</div>
			</div>
		</div>
		
		<div class="panel panel-success">
			<div class="panel-heading">
			<h3 class="panel-title"><b>&#9679; Moderators</b></h3>
			</div>
			<div class=row>
			<div class="panel-body">
			
				<div class="col-lg-6">
					<blockquote>
					<center>
					<a href="http://steamcommunity.com/id/K3hhn/"><img src="http://steamsignature.com/profile/default/76561198102743952.png" alt=""/></a>
					<small>Prom-S | Server Moderator on <cite title="Source Title">Quantumfruit</cite></small>
					</center>
					</blockquote>
				</div>
				
				<div class="col-lg-6">
					<blockquote class="blockquote-reverse">
					<center>
					<a href="http://steamcommunity.com/id/valtiger"><img src="http://steamsignature.com/profile/default/76561198217818973.png" alt=""/></a>
					<small>ValTiger | Server Moderator on <cite title="Source Title">Quantumfruit</cite></small>
					</center>
					</blockquote>
				</div>
				
				<center>
				<div class="col-lg-6">
					<blockquote>
					<center>
					<a href="http://steamcommunity.com/id/yuzurusenpai_/"><img src="http://steamsignature.com/profile/default/76561198137474178.png" alt=""/></a>
					<small>YuzuruXifhër_ | Server Moderator on <cite title="Source Title">Quantumfruit</cite></small>
					</center>
					</blockquote>
				</div>
					
			</div>
			</div>
		</div>
		
	</div>
</div>

</div>
</body>
</html>
{% endif %}
{% endblock %}
