{% extends "layout.html" %}
{% block body %}
<div class="container">
  <!-- The Modal -->
  <div id="ModalImg" class="modal modal-overwrite">
    <!-- The Close Button -->
    <span id="img-close" onclick="document.getElementById('ModalImg').style.display='none'">&times;</span>
    <!-- Modal Content (The Image) -->
    <img class="modal-content content-overwrite" id="img-content">
    <!-- Modal Caption (Image Text) -->
    <div id="img-caption"></div>
  </div>






  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add news</h4>
        </div>
        <div class="modal-body">
	  <form action={{ url_for('newdir') }} class="form-horizontal" method=post id="newdir">
            <fieldset>
              <div class="form-group">
                <label for="dirname" class="col-lg-2 control-label">Directory name</label>
                <div class="col-lg-10">
                  <input type="text" name="dirname" class="form-control" id="dirname" placeholder="dirname...">
                </div>
              </div>
	      <div class="form-group">
	        <div class="col-lg-10 col-lg-offset-2">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	          <button type="submit" class="btn btn-primary">Valid</button>
	        </div>
	      </div>
	    </fieldset>
	  </form>
	</div>
      </div>
    </div>
  </div>

  <div class="modal" id="myModal2">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Choose file</h4>
        </div>
        <div class="modal-body">
          <form id="form2" class="form-horizontal" action={{url_for('home')}} method="post" enctype="multipart/form-data"> 
            <fieldset>
              <div class="form-group">
                <label for="my-dropzone" class="col-lg-2 control-label">Image</label>
                <div class="col-lg-10">
                  <div class="dropzone" id="my-dropzone" name="mainFileUploader">
  <script>
        Dropzone.options.myDropzone = {
            url: "/",
            autoProcessQueue: false,
            uploadMultiple: false,
            parallelUploads: 100,
            maxFiles: 100,
            acceptedFiles: "image/*, audio/*, video/*, text/*, application/*",
            init: function () {
                var submitButton = document.querySelector("#submit-all");
                var wrapperThis = this;

                submitButton.addEventListener("click", function (e) {
                	e.preventDefault();
          		e.stopPropagation();
			wrapperThis.processQueue();
			$('#myModal2').modal('toggle');
                });
                this.on("addedfile", function (file) {

                    // Create the remove button
                    var removeButton = Dropzone.createElement("<button class='btn btn-lg dark'>Remove File</button>");

                    // Listen to the click event
                    removeButton.addEventListener("click", function (e) {
                        // Make sure the button click doesn't submit the form:
                        e.preventDefault();
                        e.stopPropagation();

                        // Remove the file preview.
                        wrapperThis.removeFile(file);
                        // If you want to the delete the file on the server as well,
                        // you can do the AJAX request here.
                    });

                    // Add the button to the file preview element.
                    file.previewElement.appendChild(removeButton);
                });
		this.on('sending', function(data, xhr, formData){
                    formData.append('status', 'OK');
        	});

            }
        };
  </script> 

                  </div>                   
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-default" id="submit-all"> Submit </button>
                </div>
              </div>
            </fieldset>
          </form>

        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal"> New directory </button>
  <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal2"> New file </button>

  <br />
  <br />
<ul class="breadcrumb">
  {% for path in path %} 
  {% if path.backpath == '' %}
  <li class="active">{{ path.path }}</li>
  {% else %}
  <li>
    <a href='#!/' onclick='document.getElementById("path{{loop.index}}").submit()'>{{ path.path }}</a>
    <form id="path{{loop.index}}" method="POST" action={{ url_for('switchdir') }} >
      <input type="hidden" name="backpath" value="{{ path.backpath }}"/>
    </form>
  </li>
  {% endif %}
  {% endfor %}
</ul>
  <div class="row display-flex">
  {% for dir in dir %}
    <form id="dir{{loop.index}}" method="POST" action={{ url_for('home') }} >
      <input type="hidden" name="dir" value="{{dir}}"/>
    </form>
    <a href='#!/' onclick='document.getElementById("dir{{loop.index}}").submit()'>
      <div class="col-lg-2">
        <div class="thumbnail">
          <h1 class="text-center"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></h1>
          <div class="caption">
            <div class="pull-right mb-auto">
            {{ dir }}
            </div>
          </div>
          <div class="overlay">
            <a href="#!/" class="btn btn-default btn-xs" onclick='document.getElementById("deldir{{loop.index}}").submit()' >
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </a>
            <form id="deldir{{loop.index}}" method="POST" action={{ url_for('deldir') }} >
              <input type="hidden" name="deldir" value="{{dir}}"/>
            </form> 
          </div> 
        </div>
      </div>
    </a>
  {% endfor %}

  {% for file in file %}
    <div class="col-lg-2">
      <div class="thumbnail"> 
        {% if file.img == 1 %}
        <!-- Trigger the modal ModalImg-->
        <img src="{{file.path}}" class="img-modal" alt="{{file.path}}">
        {% else %}
         <h1 class="text-center"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></h1>
	  {{file.name}}
        {% endif %}        
        <div class="overlay">
          <a href="#!/" class="btn btn-default btn-xs" onclick='document.getElementById("delfile{{loop.index}}").submit()' >
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </a>
          <a href="#!/" class="btn btn-default btn-xs" onclick='document.getElementById("downfile{{loop.index}}").submit()' >
            <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
          </a>
          <form id="delfile{{loop.index}}" method="POST" action={{ url_for('delfile') }} >
            <input type="hidden" name="delfile" value="{{file.name}}{{file.ext}}"/>
          </form> 
          <form id="downfile{{loop.index}}" method="POST" action={{ url_for('downfile') }} >
            <input type="hidden" name="downfile" value="{{file.name}}{{file.ext}}"/>
          </form> 
        </div>      
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
